@import url('./styleGlobal.css');

.content-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-top: 11rem;
    cursor: default;
}

.about-image {
    max-width: 50%;
}

.image {
    max-width: 100%;
    height: auto;
}

.about-info{
    margin: 60px;
    max-height: 100vh;
}

.scrollReveal50{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scrollReveal50 h2{
    color: var(--cor-white);
    font-weight: 400;
    font-size: 2.7em;
    line-height: 1.25;
}

.scrollReveal50 p{
    color: var(--cor-white-FB);
    font-size: 1.125em;
    font-weight: 200;
    line-height: 1.5;
}

.scrollReveal100,
.scrollReveal200,
.scrollReveal300 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
}

.scrollReveal100 h4,
.scrollReveal200 h4,
.scrollReveal300 h4 {
    color: var(--cor-white-FB);
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: left;
}

.scrollReveal100,
.scrollReveal200,
.scrollReveal300 p {
    font-size: 1.02em;
    color: var(--cor-white-FB);
    font-weight: 200;
    text-align: left;
}

.container-image {
    background-color: var(--cor-dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    height: 60px;
    border-radius: 10px;
    padding: 30px;
    transition: 0.2s;
}

.container-image:hover {
    max-width: 63px;
    height: 63px;
    border: 2px solid var(--cor-medium-gray);
}

.scrollReveal200 img,
.scrollReveal100 img,
.scrollReveal300 img {
    width: 30px;
    transition: 0.3s;
}

.scrollReveal200 img:hover,
.scrollReveal100 img:hover,
.scrollReveal300 img:hover {
    width: 33px;
}

