@import url('./styleGlobal.css');

.content-benefits{
    width: 100%;
    height: 130px;
}

.content-benefits h6{
    font-size: 20px;
    -webkit-background-clip: text;
    background-image: linear-gradient(88.76deg,rgba(252, 230, 38, 1) -100%,rgba(243, 90, 155, 1) 100%);
    color: transparent!important;
    background-clip: text;
    font-weight: 600;
}

.text-benefits{
    color: var(--cor-white);
    font-weight: 400;
    font-size: 37px;
    line-height: 1.35;
}

.text-benefits span{
    -webkit-background-clip: text;
    background-image: linear-gradient(88.76deg,rgba(252, 230, 38, 1) -100%,rgba(243, 90, 155, 1) 100%);
    color: transparent!important;
    background-clip: text;
    font-weight: 500;
}

.content-benefits-card-one{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
}

.content-benefits-card-two{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.card-1, .card-2, .card-3, .card-4{
    background-color: var(--cor-dark-grey);
    width: 49%;
    border-radius: 8px;
    padding: 30px 30px;
    transition: 0.3s;
}

.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover{
    background-color: #4e4e4ec4;
}

.card-1 img, .card-2 img, .card-3 img, .card-4 img{
    width: 26px;
    margin-bottom: 3rem;
}

.card-1 h3, .card-2 h3, .card-3 h3, .card-4 h3{
    color: var(--cor-white);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 1rem;
}

.card-1 p, .card-2 p, .card-3 p, .card-4 p{
    color: var(--cor-white-FB);
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 4rem;
}

.to-know{
    display: flex;
    gap: 20px;
}

.to-know a, .to-know a, .to-know a, .to-know a{
    color: rgb(236, 126, 57);
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.to-know img{
    margin-top: 4px;
    width: 8px;
    height: 8px;
}
