@import url('./styleGlobal.css');

.content-benefits{
    margin-top: 12rem;
    width: 100%;
    height: 130px;
}

.content-benefits h6{
    font-size: 1.25em;
    -webkit-background-clip: text;
    background-image: linear-gradient(88.76deg,rgba(252, 230, 38, 1) -100%,rgba(243, 90, 155, 1) 100%);
    color: transparent!important;
    background-clip: text;
    font-weight: 600;
}

.text-benefits{
    color: var(--cor-white);
    font-weight: 400;
    font-size: 2.313em;
    line-height: 1.35;
}

.text-benefits span{
    -webkit-background-clip: text;
    background-image: linear-gradient(88.76deg,rgba(252, 230, 38, 1) -100%,rgba(243, 90, 155, 1) 100%);
    color: transparent!important;
    background-clip: text;
    font-weight: 500;
}

.content-benefits-card-one{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
    gap: 30px;
}

.content-benefits-card-two{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.content-card{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.iconBox img{
    width: 20px;
    margin-bottom: 28px;
    fill: none;
}

.card{
    background-color: var(--cor-dark-grey);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50%;
    padding: 40px 72px 40px 32px;
    transition: 0.3s;
    overflow: hidden;
}

.card:hover{
    background-color: #4e4e4ec4;
}

.content-card h3{
    margin: 0;
    margin-bottom: 30px;
    min-height: 32px;
    color: var(--cor-white);
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.5;
}

.MuiTypography p{
    margin: 0;
    margin-bottom: 2.5rem;
    min-height: 53px;
    color: var(--cor-white-FB);
    font-weight: 200;
    font-size: 0.938em;
    line-height: 1.5;
}

.to-know{
    display: flex;
    gap: 20px;
}

.to-know a{
    color: rgb(236, 126, 57);
    font-weight: 400;
    font-size: 0.875em;
    text-decoration: none;
}

.to-know img{
    margin-top: 5px;
    max-width: 8px;
    max-height: 8px;
}
